.algorithm-visualization-page {
    display: flex;
    height: 100%;
}

:root {
    --sidebar-width: 10rem
}

.sidebar {
    width: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #353232;
    color: white;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

.data-structure-list {
    margin-top: 1.5rem;
}

.algorithm-category {
    width: 100%;
    text-align: left;
}

.collapsible {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: transparent;
    color: #b4b4b4;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.active,
.collapsible:hover {
    background-color: #555;
}

/* arrow for btn */
.arrow {
    border: solid rgb(201, 201, 201);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: auto 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.content {
    overflow: hidden;
    background-color: #201f1f;
}

.algorithm-list {
    margin: 0;
    padding-left: 1rem;
}

.algorithm-list li {
    list-style: none;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem 0.6rem 0;
    text-wrap: nowrap;
    overflow: hiden;
    animation: movingTape 5s linear infinite
}

.algorithm-list li a:hover {
    color: #ffffff;
}

@keyframes movingTape {
    from {
        transform: translateX(20%);
    }

    to {
        transform: translateX(-10%);
    }
}

.algorithm-list li a {
    text-decoration: none;
    color: #b4b4b4;
}

/* main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #252522;
    outline: 1px solid #bbb;
}

.row {
    display: flex;
    height: fit-content;
    width: calc(100vw - var(--sidebar-width));
    padding-bottom: 1rem;
    outline: 1px solid #bbb;
}

.mid-content {
    display: flex;
    flex-flow: column;
    width: 70%;
    max-height: 100vh;
    justify-content: space-between;
}

.visualization-container {
    max-height: 70%;
    flex: 1;
}

/* code  */
.text-container {
    display: flex;
    padding: 0%;
    /* width: calc(100vw- var(--sidebar-width)); */
    max-height: 40%;
}

.console {
    position: relative;
    overflow-y: auto;
    border: 1px solid grey;
    color: rgb(195, 195, 195);
    text-align: justify;
    border-bottom: none;
}

.step-line {}

.console .header {
    background-color: #575555;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.2rem;
}


.right-panel {
    width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #353232;
    color: white;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    min-height: 100vh;
    border-left: 1px solid #555;
}

.right-panel .tab-container {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    user-select: none;
    color: #bbb;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    height: 32px;
    overflow-x: auto;
    white-space: nowrap;
    flex-shrink: 0;
}

.tab-container .code-tab {
    user-select: none;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #505050;
}

.code-tab button {
    border: none;
    background-color: transparent;
    color: #bbb;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 0 12px;
    margin: 0 -1px;
}

/* it will show which tab selected */
.tab-container .active {
    background-color: #242424;
    border-left: 1px solid #505050;
    border-right: 1px solid #505050;
    border-bottom: none;
}


.selected-tab-content {
    max-height: 100vh;
    padding-bottom: 1rem;
}

/* this style apply on content in selected tab */
.selected-tab-content .active {
    background-color: #242424;
    overflow-y: auto;
    color: #c3c3c3;
    padding: 1rem;
    padding-top: 0;
}



.svg-area {
    height: 100%;
    background-color: #010101;
    overflow: auto;
}



/* controller css */
.controller-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.4rem 1rem;
}

.speedController {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    padding: 0.3rem;
}

.speedController label[for="speed"],
span {
    color: rgb(195, 195, 195);
    font-size: 1rem;
}

.speedController span {
    width: 1rem;
}

.speedController input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border: none;
    background-color: grey;
    cursor: pointer;
    width: 4rem;
    height: 0.5rem;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -3px;
    height: 2rem;
    width: 1rem;
}

/* player css */
.player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 1rem;
    color: rgb(195, 195, 195);
}

.player span {
    font-size: 1rem;
}


.play {
    height: 0;
    width: 0;
    margin-left: calc(2 * 0.14 * 2rem);
    background: none;
    border: none;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: calc(0.4rem * 2 * 0.86) solid #edd;
    cursor: pointer;
}

.pause {
    cursor: pointer;
    position: relative;
    background: none;
    border: none;
    height: calc(0.4rem * 2);
    width: calc(0.4rem * 2 * 0.86);

    /* nested css */
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 33%;
        background: #edd;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

canvas {
    width: 100%;
    height: 100%;
}


/* scrool bar css */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 8px;
    background: white;
} 
::-webkit-scrollbar-thumb {
    background-color: rgb(147, 140, 140);
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}