.algorithm-visualization-page {
    display: flex;
    height: calc(100vh - var(--navbarHeight));
}

:root {
    --sidebar-width: 10rem
}

.sidebar {
    width: 10rem;
    background-color: var(--sidebarBgcolor);
    color: var(--visulationText);
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

.data-structure-list {
    margin-top: 1.5rem;
}

.algorithm-category {
    width: 100%;
    text-align: left;
}

.collapsible {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: transparent;
    color: var(--visulationText);
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.active,
.collapsible:hover {
    background-color: var(--sidebarHovercolor);
}

/* arrow for btn */
.arrow {
    border: solid rgb(201, 201, 201);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: auto 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.content {
    overflow: hidden;
    background-color: var(--sidebarAlgoBgcolor);
}

.algorithm-list {
    margin: 0;
    padding-left: 1rem;
}

.algorithm-list li {
    list-style: none;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem 0.6rem 0;
    text-wrap: nowrap;
    overflow: hiden;
    animation: movingTape 5s linear infinite
}

.algorithm-list li a:hover {
    opacity: 0.5;
}

@keyframes movingTape {
    from {
        transform: translateX(20%);
    }

    to {
        transform: translateX(-10%);
    }
}

.algorithm-list li a {
    text-decoration: none;
    color: var(--visulationText);
}

/* main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--visulationContainerBgcolor);
    outline: 1px solid #bbb;
}

.row {
    display: flex;
    max-height: 100vh;
    min-height: 80vh;
    width: calc(100vw - var(--sidebar-width));
    outline: 1px solid #bbb;
}

.mid-content {
    display: flex;
    flex-flow: column;
    width: 70%;
    max-height: 100vh;
}

.visualization-container {
    max-height: 70%;
    min-height: 60vh;
    flex: 1;
    margin-bottom: 1rem; 
    overflow: auto;
}

/* code  */
.code-container {
    width: 100%;
    height: 100%;
}

.code-container .editor {
    width: 300px;
    height: 80vh;
}

.text-container {
    outline: 1px solid #505050;
    width: 30%;
    min-height: 100%;
    overflow: auto;
}

.console {
    overflow-x: auto;
    overflow-y: auto;
    color: var(--visulationText);
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 80vh;
}

.step-line {
    min-width: 100%;
    min-height: 80vh;
    overflow: auto;
}


.step-line span {
    display: block;
    margin: 0.4rem 0.4rem;
    font-size: 13px;
    text-wrap: nowrap;
}

.right-tab-container {
    min-width: 100%;
}


.feature-container {
    overflow-y: auto;
    border-top: 1px solid #505050;
    color: var(--visulationText);
    text-align: justify;
    border-bottom: none;
    min-width: 100%;
    max-height: 100%;
}

.feature-container .tab-container,
.right-tab-container {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    user-select: none;
    color: var(--visulationText);
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    height: 32px;
    overflow-x: auto;
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

.tab-container .tab,
.right-tab-container .tab {
    user-select: none;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--activeTabBgcolor);
    border-bottom: 1px solid #505050;
    opacity: 0.6;
}

.tab-container button,
.right-tab-container button {
    border: none;
    background-color: transparent;
    color: var(--visulationText);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 0 12px;
    margin: 0 -1px;
}

/* it will show which tab selected */
.tab-container .active,
.right-tab-container .active {
    background-color: var(--activeTabBgcolor); 
    outline: 1px solid;
    border-bottom: none;
    opacity: 1;
}


.selected-tab-content {
    max-height: 100vh;
    padding-bottom: 1rem;
    background-color: var(--visulationContainerBgcolor);
}

/* this style apply on content in selected tab */
.selected-tab-content .active {
    background-color: transparent;
    overflow-y: auto;
    color: #c3c3c3;
    padding: 1rem;
    padding-top: 0;
    min-height: 100%;
}

.right-selected-tab-content {
    min-height: 80vh;
}

.right-selected-tab-content .active {
    background-color: var(--visulationContainerBgcolor);
    background-color: transparent;
    overflow-y: auto;
    color: #c3c3c3;
    padding-top: 0;
    min-height: 80vh;
}


.svg-area {
    height: 100%;
    background-color: var(--svgBgcolor);
    overflow: auto;
}



/* controller css */
.controller-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.4rem 1rem;
    /* background-color: grey; */
    background: var(--visulationContainerBgcolor);
}

.speedController {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    padding: 0.3rem;
}

.speedController label[for="speed"],
span {
    /* color: rgb(195, 195, 195); */
    color: var(--visulationText);
    font-size: 1rem;
}

.speedController span {
    width: 1rem;
}

.speedController input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    border: none;
    background-color: grey;
    cursor: pointer;
    width: 4rem;
    height: 0.5rem;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -3px;
    height: 2rem;
    width: 1rem;
}

/* player css */
.player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 1rem;
    color: rgb(195, 195, 195);
}

.player span {
    font-size: 1rem;
}


.play {
    height: 0;
    width: 0;
    margin-left: calc(2 * 0.14 * 2rem);
    background: none;
    border: none;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: calc(0.4rem * 2 * 0.86) solid var(--visulationText);
    ;
    cursor: pointer;
}

.pause {
    cursor: pointer;
    position: relative;
    background: none;
    border: none;
    height: calc(0.4rem * 2);
    width: calc(0.4rem * 2 * 0.86);

    /* nested css */
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 33%;
        /* background: #edd; */
        background: var(--visulationText);
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

svg {
    width: 100%;
    height: 100%;
}


/* scrool bar css */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 8px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(147, 140, 140);
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}