/* styles.css */

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {

  font-family: Arial, sans-serif;
  background-color: #988080;

  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label{
  left-margin: 15px;

}

#container {

  height: 100%;
  width: 100%;
  background-color: #cbb7b7;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 3 4 10px rgba(226, 219, 219, 0.1);
}

#header {
  position: relative;
  top: 10px;
  text-align: center;
  background-color: #155493;
  color: #d56520;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

#header h1 {
  margin: 10;
}

#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#algorithmControlSection{
  display: flex;
  justify-content: space-evenly;


}

.buttons {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}
.buttons button {
  width: 18%;
  height: 50px;
  background-color: #11b424;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

}

.buttons button:hover {
  background-color: #2dd774;
  color: white;
  padding: 5px;
  border: 4px solid rgb(0, 40, 6);

}

#canvas {
  border: 2px solid #ccc;
  margin-top: 20px;
  background-color: #cad1d2;
}

#generalAnimationControlSection {
  margin-top: -480px;
  text-align: center;
}

#generalAnimationControlSection button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#generalAnimationControlSection button:hover {
  background-color: #2980b9;
}

#speed {
  margin-left: 10px;
}
