<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sorting Visualizer</title>
  <link rel="stylesheet" media="screen" href="style.css">
  <script src="index.js" type="module" defer></script>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div id="heading">
        <h2>Sorting Visualizer</h2>
      </div>
      <hr >
      <div class="flexed">

        <div id="options">
          <select title="Select options" name="" id="selectAlgorithm" class="select-algorithm">
            <option value="bubbleSort" selected>Bubble Sort</option>
            <option value="selectionSort">Selection Sort</option>
            <option value="quickSort">Quick Sort</option>
          </select>
        </div>
      
          <div class="generate-new">
            <p>Generate New Array</p>
            <input title="Enter the size" type="number" id="numbersBars" max="40" min="1" value="10">
            <button id="generateBtn">New</button>
          </div>
          <div class="buttons">
            <button id="solveBtn">Solve</button>
          </div>
        

      </div>
    </div>

    <div class="stage" id="stage"></div>
  </div>
</body>

</html>