.visualization {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.column .content {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.column {
    text-align: center;
    margin: .5rem;
}

.column h2 {
    font-size: 1rem;
    color: rgb(162, 162, 162);
}

.content span {
    display: block;
}

#result {
    color: white;
}


.Expression{
    margin: 0 1rem;
}

.Expression form {
    display: flex; 
    gap: 0.5rem;
}

.Expression form input {
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 50%;
    background-color: #e8dfdf;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}
 
.Expression form button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
} 