.queue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fb;
    /* Light background for the entire component */
    border: 1px solid #dfe6e9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.queue-controls {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.queue-controls input {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.queue-controls input:focus {
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.queue-controls button {
    padding: 8px 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.queue-controls button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}
 
/* Styling for queue elements inside canvas */
.queue-element {
    position: relative;
}

.queue-element .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.queueCanvasContainer canvas:hover {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
}