<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Visualizer</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body onload="init()">
    <div id="container">
        <div id="header">
            <h1>Queue (Array Implementation)</h1>
            <br>
            <div id="algorithmControlSection">
                <label for="value"><b>Enter any value :</b></label>
                <input id="inputValue" type="text" placeholder="Enter value to enqueue">
                <div class="buttons">
                    <button onclick="enqueueElement()">Enqueue</button>
                    <button onclick="dequeueElement()">Dequeue</button>
                    <button onclick="peekElement()">Peek</button>
                    <button onclick="isEmpty()">IsEmpty?</button>
                    <button onclick="clearQueue()">Clear Queue</button>
                </div>
                <div class="convert-button">
                    <button onclick="convertToCircular()">Convert to Circular Queue</button>
                </div>
            </div>
        </div>

        <div id="mainContent">
            <!-- Canvas area for visualizing the queue -->
            <div id="visualization">
                <canvas id="queueCanvas" width="750" height="300"></canvas>
            </div>

            <!-- Code display area -->
            <div id="codeArea">
                <h3>Relevant Code</h3>
                <pre id="codeDisplay"> 
                </pre>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
