.navbar {
    background-color: #c6c4c4 !important;
}

.container {
    display: flex;
    padding: 0.6rem 1rem;
}

.container a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-size: 1.4rem;
    margin-right: 1rem;
}

.search-box {
    display: flex;
    /* align-items: center; */
}

.search-box input[type='search'] {
    background-color: #cecece;
    padding-left: 0.5rem;
    height: 100%;
    width: 12rem;
}

.search-box input[type="search"] {
    border: none;
    height: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: black;
    color: rgb(215, 204, 185);
    outline: none;
}

.search-box button {
    border: none;
    display: inline-block;
    cursor: pointer;
    background-color: #646363;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 0.5rem;
}