
*{
  margin:0;
  padding:0;
}



html,body{
  width: 100%;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #d9ddb0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 90%;
  background-color: #6dcf96;
  width: 90%;
  gap: 10px;
}
.header{
  /* display:flex;
  justify-content: center; */
  width: 90%;
  height:20% ;
  background-color: #843d3d;
  gap: 10px;
}
.header h3{
  font-size: 1.5rem;
}
.options{
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  height: 80%;

}
.options button,input{
  width: 15%;
  height: 30px;
  
}

.visualization {
  height: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.column {
  font-weight: bold;
  font-size: large;
  width: 30%;
  border: 2px solid #e7e3e3;
  padding: 10px;
  overflow-y:scroll;
  max-height: 1000px;
}
.column .content {
  border: 1px solid #ede8e8;
  padding: 2px;

}


.column h2 {
  text-align: center;
}


.row {
  text-align: center;
  border: 1px solid #080707;
}



.stack-enter {
  margin:1px;
  background-color: #b5d0d7;
  padding: 10px;
  border:  2px solid #080707;
  font-weight:bolder;
  font-size:20px;
}

.stack-exit {
  background-color: #ab5a56;
}

hr {
  border: 0.5px solid #ccc;
  margin: 5px 0;
}

