* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

:root {
  --navbarHeight: 70px;
}

body {
  background-color: #f0f0f0;
}

.hero-section {
  width: 100%;
  height: calc(100vh - var(--navbarHeight));
  position: relative;
  background-image: url('https://cdn.vectorstock.com/i/1000x1000/59/06/circles-algorithm-black-background-vector-24225906.webp');
  display: flex;
  justify-content: space-between;
 
}

.hero-content {
  max-width: 50%;
  color: white;
  position: absolute;
  padding: 4rem 2rem 0 4rem;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.2;
  color: #000;
}

.hero-content h1 {
  color: #ff5630;
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  text-shadow:1px 2px 2px rgb(202, 199, 199); 
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  font-weight: 550;
  /* text-shadow:1px 2px 2px rgb(202, 199, 199); */
}

.buttons {
  width: 2.5rem;
  height: 2.5rem;
}

.play-btn {
  height: 100%;
  width: 100%;
  font-size: 2.3rem;
  color: rgb(196, 194, 194);
  align-self: center;
  transition: all 0.3s ease-in 0s;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.play-btn:hover {
  transform: scaleY(1.3);
  color: rgb(189, 187, 187);
}

.svgContainer { 
  width: 60%;
  margin-left: auto;
  height: 100%;
}

.svgContainer svg { 
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: flex-end;
  background-repeat: repeat-x;
}


.hero-slider {
  width: 40%;
}

.slider {
  display: flex;
  gap: 20px;
}

.slide {
  position: relative;
  width: 120px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}