* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.Edit-graph-container, #graph-container {
  width: 100%;
  height: 100%;
}
#graph-container svg{
  width: 100%;
  height: 100%;
}

:root {
  --navbarHeight: 70px;
  --navbarBackgroundColor: #dadbff;
  --bodyBackgroundColor: linear-gradient(to bottom, #f0f4ff, #e9efff);
  --cardBackgroundColor: #e5e5ff;
  --footerBackgroundColor: #e0e0e0;
  --footerTextColor: #000000;
  --themeToggleColor: #ffdd00;
  --themeToggleBgcolor: rgb(75, 75, 75);
  --toogleBoxShadow: inset 0px 0px 10px black;
  --textColor: #1e375a;
  --descriptionColor: rgba(30, 55, 90, 0.7);
  --sliderBorder: rgba(62, 127, 255, 1);
  --slideBgColor: rgba(62, 127, 255, 0.32);

  --visulationContainerBgcolor: #f4f3f3;
  --sidebarBgcolor: #FFFFFF;
  --controllerBarBgcolor: #EAEAEA;
  --consoleBgcolor: #F1F1F1;
  --visulationText: #4e4c4c;
  --activeTabBgcolor: #f4f3f3;
  --svgBgcolor: rgb(224, 226, 234);
  --sidebarHovercolor: rgba(205, 205, 205, 0.646);
  --sidebarAlgoColor: #EAEAEA;
  --sidebarAlgoBgcolor: #EAEAEA;
}

* {
  transition: background-color 0.4s ease, color 0.3s ease;
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bodyBackgroundColor);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hero-content {
  max-width: 50%;
  color: white;
  /* position: absolute; */
  padding: 4rem 2rem 0 4rem;
  z-index: 2;
}

.hero-content h1 {
  color: #ff5630;
  font-weight: bold;
  font-size: 60px;
  color: var(--textColor);
  text-shadow: 1px 2px 2px rgb(202, 199, 199);
  animation: 0.8s ease-in-out 1 dropTitle;
}

.hero-content p {
  margin: 1rem 0 2rem 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--descriptionColor);
  font-weight: 550;
  animation: 0.8s ease-in-out 1 dropDesc;
}

@keyframes dropTitle {
  from {
    transform: translateY(-200%);
    filter: blur(4px);
  }

  to {
    transform: translateY(0%);
    backdrop-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes dropDesc {
  from {
    transform: translateY(-100%);
    filter: blur(2px);
  }

  to {
    transform: translateY(0%);
    filter: blur(0px);
  }
}



.svgContainer {
  width: 60%;
  height: 100%;
  margin-left: auto;
}

.svgContainer svg {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: flex-end;
  background-repeat: repeat-x;
  z-index: 3;
}

.slick-arrow ::before {
  font-size: 2rem;
}

.buttons {
  width: 2.5rem;
  height: 2.5rem;
}

.slide {
  position: relative;
  width: 9rem;
  height: 12rem;
  border-radius: 10px;
  cursor: pointer;
}

.slide svg {
  background: var(--slideBgColor);
  border-radius: inherit;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 2px solid var(--sliderBorder);
}

.slide a {
  border-radius: inherit;
}


.slide p {
  overflow: hidden;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.65rem;
  text-align: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.hero-slider {
  position: absolute;
  top: 60%;
  right: 0%;
  width: 40%;
}

.slider {
  display: flex;
  gap: 1rem;
}

.play-btn {
  height: auto;
  width: auto;
}

.play-btn button {
  color: white;
  font-size: 1rem;
  text-wrap: nowrap;
  border: none;
  padding: 0.9rem;
  border-radius: 5px;
  background-color: #00abe4;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}

.play-btn button:hover {
  background-color: #0063e4;
}


#backgroungSvg {
  width: 100%;
  height: 100%;
}

g :hover {
  cursor: pointer;
}

/* home page */
.algorithmList {
  /* background-color: ; */
  background: var(--bodyBackgroundColor);
  padding: 20px;
  opacity: 0.85;
  min-height: 100vh;
}

.algorithm-grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.algorithm-card a {
  border-radius: inherit;
}

.algorithm-card {
  width: 11rem;
  height: 13rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s;
  padding: 0.15rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(135deg, #006400, #008000);
  transform-style: preserve-3d;
  perspective: 1000px;
}


.algorithm-card::before {
  content: '';
  width: 150%;
  height: 150%;
  background-color: #ff0000;
  position: absolute;
  top: -25%;
  left: -25%;
  background-image:
    conic-gradient(black 20%, rgba(138, 43, 226, 0.8) 40%, rgba(75, 0, 130, 0.6), rgba(139, 0, 255, 0.5), rgba(231, 100, 43, 0.6), rgba(138, 43, 226, 0.8), black);
  border-radius: inherit;
  z-index: -1;
  animation: spin infinite linear 5s;
}

.algorithm-card::before {
  filter: blur(0.4rem);
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(360deg);
    /* Complete a full clockwise rotation */
  }

  75% {
    transform: rotate(160deg);
    /* Complete a full clockwise rotation */
  }

  100% {
    transform: rotate(0deg);
    /* Revert back counter-clockwise */
  }
}


.algorithm-card {
  background: rgba(255, 255, 255, 0.1);
  /* Transparent background */
  border-radius: 15px;
  backdrop-filter: blur(10px);
  /* Blur to create frosted glass effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.algorithm-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  background: var(--cardBackgroundColor)
}

.slick-dots {
  display: none !important;
}

.algorithm-title {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #a4a2a2;
  opacity: 0.7;
  color: rgb(0, 0, 0);
  width: calc(100% - 0.1rem);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.slider-preview {
  background: rgba(31, 40, 252, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}