body {
  background-color: #c1c493;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #a8aa45;
  width: 80%;
  text-align: center;

}

.visualization {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.column {
  font-weight: bold;
  font-size: large;
  width: 30%;
  border: 2px solid #e7e3e3;
  padding: 10px;
  overflow-y: auto;
  max-height: 500px;
}

.column h2 {
  text-align: center;
}

.column .content {
  border: 2px solid #ede8e8;
  padding-top: 14px;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

input[type="range"] {
  margin: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.row div {
  flex: 1;
  padding: 10px;
  border: 2px solid #080707;
}

.stack-enter {
  margin:1px;
  background-color: #b5d0d7;
  padding: 10px;
  border:  2px solid #080707;
  font-weight:bolder;
  font-size:20px;
}

.stack-exit {
  background-color: #ab5a56;
}

hr {
  border: 0.5px solid #ccc;
  margin: 5px 0;
}
